.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.5rem 0;

  &_logo-container {
    margin-right: auto;
  }

  &_item-container {
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
  }
}
