@tailwind base;
@tailwind components;
@tailwind utilities;

/* in order to add new properties to tailwind that tailwind doesn't contain we use the utilities @layer */
@layer utilities {
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  .grid-cols-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
  .flex-basis {
    flex-basis: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Urbanist", sans-serif;
  font-size: 1.4rem;
}
